<header class="header-fixed" id="headerId">

	<div class="header-limiter">

    <img class = "headerimg" src="../assets/logo2.png" alt="Company logo">
		<nav>
       <button (click)="scroll(target)">Our Services</button>
       <!-- <button (click)="scroll(old)"  class = 'selected'>Old Parent Care</button> -->
       <button (click)="scroll(testimonials)">Testimonials</button>
      <button  (click)="scroll(consultation)">Consult Us</button>
    </nav>
	</div>
</header>
<div style="position: relative;">
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'"  [noPause] = "true">
  <mdb-carousel-item  *ngFor = "let slide of cards">
    <div class="view w-100" >
      <img class="carouselImage d-block w-100" [src]='slide.imgCarousel' alt="Slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h3 class="h3-responsive">SERVICES OFFERED</h3>
      <p style="text-transform: uppercase;">{{slide.title}}</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="covertext">
  <div class="col-lg-10" style="float:none; margin:0 auto;">
    <h1 class="title">LEALDEALS</h1>
    <h3 class="subtitle">A One Stop Portal For Asset Management And Lifestyle Assisstance</h3>
  </div>
  <div class="col-xs-12 explore">
  <button type="button" class="btn btn-lg explorebtn" (click)="scroll(target)" >EXPLORE</button>
  </div>
</div>
</div>

<h1 class="heading" #target>Our Services:</h1>

<div class="container"   data-aos="fade-up" data-aos-once="true" data-aos-delay="2000" data-aos-easing="ease-in-sine">
  <div class="row"  >
    <div class="col-md-4" *ngFor = "let card of cards" style="margin-bottom: 2%;">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>{{card.title}}</h4>
        </mdb-card-title>
        <mdb-card-text>
          <p>{{card.description}}</p>
        <p>{{card.subtitle}}</p>
        </mdb-card-text>
    
        <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Explore</a> -->
      </mdb-card-body>
    </mdb-card>
  </div>
  </div>
</div>

<h1 #testimonials  class="heading">TESTIMONIALS:</h1>


<div data-aos="fade-up" data-aos-once="true" data-aos-delay="2000" data-aos-easing="ease-in-sine">
<testimonials></testimonials>
</div>


<h1 class="heading" #consultation>BOOK A CONSULTATION</h1>


<!--Google Form -->
<div class="googleForm">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScFmpE-mqQgDBlTZQj9IVp2w_GdxL8kbWwD4-v6_GFe85Pd4Q/viewform?embedded=true" 
width="100%" 
height="900" 
scrolling = "no"
frameborder="0" 
marginheight="0" 
marginwidth="0"
data-aos="fade-up" data-aos-once="true" data-aos-delay="2000" data-aos-easing="ease-in-sine"
>
Loading…</iframe>
</div>

<app-footer></app-footer>
